<nav class="bg-gray-800 text-white p-4 flex space-x-4">
  <a routerLink="/customers" class="hover:underline">Customers</a>
  <a routerLink="/products" class="hover:underline">Products</a>
  <a routerLink="/quotes" class="hover:underline">Quotes</a>
  <a routerLink="/policies" class="hover:underline">Policies</a>
  <a routerLink="/claims" class="hover:underline">Claims</a>
  <a routerLink="/documents" class="hover:underline">Documents</a>
  <a routerLink="/payments" class="hover:underline">Payments</a>
  <a routerLink="/notifications" class="hover:underline">Notifications</a>
</nav>
<router-outlet></router-outlet>
